@model Store_Project.Models.AccountsModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content">
        <div class="container">
            <div class="content-top">
                <h1>NEW RELEASED</h1>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>T-Shirt</span>
                                </h3>
                            </div>
                        </a>


                        <p><a href="~/Views/Home/Single.cshtml">Contrary to popular</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi1.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>Shoe</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="/Views/Home/Single.cshtml">classical Latin</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>Bag</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="~/Views/Home/Single.cshtml">undoubtable</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="grid-in">
                    <div class="col-md-4 grid-top">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>Shirt</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="~/Views/Home/Single.cshtml">suffered alteration</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>Bag</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="~/Views/Home/Single.cshtml">Content here</a></p>
                    </div>
                    <div class="col-md-4 grid-top">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/pi5.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>Shoe</span>
                                </h3>
                            </div>
                        </a>
                        <p><a href="~/Views/Home/Single.cshtml">readable content</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="content-top-bottom">
            <h2>Featured Collections</h2>
            <div class="col-md-6 men">
                <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="@Url.Content("~/Content/")images/t1.jpg" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>Lorem</span>
                        </h3>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="@Url.Content("~/Content/")images/t2.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>Lorem</span>
                            </h3>
                        </div>
                    </a>

                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/t3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6 men2">
                        <a href="~/Views/Home/Single.cshtml" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="@Url.Content("~/Content/")images/t4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Lorem</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-bottom">
            <ul>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo1.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo2.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo3.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo4.png" alt=""></a></li>
                <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/")images/lo5.png" alt=""></a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-top-at">

                    <div class="col-md-4 amet-sed">
                        <h4>MORE INFO</h4>
                        <ul class="nav-bottom">
                            <li><a href="#">How to order</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Location</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 amet-sed ">
                        <h4>CONTACT US</h4>

                        <p>
                            Contrary to popular belief
                        </p>
                        <p>The standard chunk</p>
                        <p>office:  +12 34 995 0792</p>
                        <ul class="social">
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i class="twitter"> </i></a></li>
                            <li><a href="#"><i class="rss"> </i></a></li>
                            <li><a href="#"><i class="gmail"> </i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-4 amet-sed">
                        <h4>Newsletter</h4>
                        <p>
                            Sign Up to get all news update
                            and promo
                        </p>
                        <form>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <input type="submit" value="Sign up">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer-class">
                <p>© 2015 New store All Rights Reserved | Design by  <a href="#" target="_blank">Ami Adi</a> </p>
            </div>
        </div>
    </div>
}